.body {
    position: relative;
    background-color: hsl(30, 38%, 92%);
}

.continar {
    margin-left: 200px;
    width: 70%;
    height: 100px;
}

.art {
    border-radius: 5px;
    width: 700px;
    height: 420px;
    background-color: hsl(0, 0%, 100%);
    margin: 150px auto;
}

.image {
    width: 350px;
    height: 420px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    display: inline-block;
}

.parfum {
    position: absolute;
    margin-left: 380px;
    margin-top: 30px;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 20px;
}

.Gabrielle {
    position: absolute;
    margin-left: 20px;
    margin-top: 40px;
    display: inline-block;
    font-size: 32px;
    line-height: 5px;
}

.floral {
    position: absolute;
    margin-left: 25px;
    margin-top: 190px;
    color: hsl(228, 12%, 48%);
    font-size: 20px;
    display: inline-block;
    line-height: 5px;
    font-weight: bold;
}

.new-price {
    position: absolute;
    margin-left: 25px;
    margin-top: 310px;
    color: hsl(158, 36%, 37%);
    font-size: 40px;
    display: inline-block;
    font-weight: bold;
}

.old-price {
    position: absolute;
    margin-left: 170px;
    margin-top: 330px;
    color: hsl(228, 12%, 48%);
    display: inline;
    text-decoration: line-through;
    font-weight: bold;
}

button {
    position: absolute;
    font-weight: bold;
    display: inline-block;
    margin-top: 360px;
    margin-left: 20px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-style: none;
    font-size: 20px;
    padding: 10px 70px;
    border-radius: 5px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 5px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* @media Mobail and (max-width: 375px) {
    .continar,
    .body,
    .art,
    .image,
    .parfum,
    .floral,
    .Gabrielle,
    .new-price,
    .old-price {
        width: 20px;
        height: 20px;
    }
} */